@using Web_TMDT.Models;
@model GioHang_DonHangMua
@{
    ViewBag.Title = "CapNhatTTDHMua";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}
<div class="Noidung">
    @*<div class="form-horizontal">*@
    <div id="aaa">
        <div class="ii"></div>
        <h2 class="td">Cập Nhật Trạng Thái Đơn Hàng</h2>
    </div>
    @Html.ValidationSummary(true)
    <div class="body">
        <div class="thongtin">
            <div class="col-md-10">
                <h3 class="lbcn">Mã Đơn Hàng: @Model.IDDonHangMua</h3>
            </div>
            <div class="col-md-10">
                <h3 class="lbcn">Tên Khách Hàng: @Model.IDUserMua</h3>
            </div>
            <div class="col-md-10">
                <h3 class="lbcn">Tổng Tiền: @Model.TongTien</h3>
            </div>
            <div class="col-md-10">
                <h3 class="lbcn">Ngày Lập: @Model.NgayLap</h3>
            </div>
            @using (Html.BeginForm("CapNhatTTDHMua", "Admin", FormMethod.Post, new { @id = Model.IDDonHangMua }))
            {
                <div class="col-md-10">
                    <h3 class="lbcn">Cập Nhật Trạng Thái: @Html.DropDownList("IDTrangThai")</h3>
                </div>
                <div class ="bt">
                    <button class="button-submit"><h4> Cập Nhật</h4></button>
                </div>
            }

        </div>
    </div>
</div>
<style>
    .lbcn{
        margin-left: -320px;
        width: 500px;
    }
    .ii {
        height: 5px;
    }

    #aaa {
        background-color: #14a19a;
        height: 55px;
    }

    .td {
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 10px;
        color: #ffffff;
    }

    .Noidung {
        margin-left: 175px;
        width: 500px;
        background-color: #fafef7;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .ttct {
        background-color: #dfe1e1;
        height: 400px;
    }

    .anh img {
        height: 300px;
        width: 300px;
        margin-left: 3%;
    }

    .thongtin {
        margin-left: 350px;

    }
    .bt button {
        margin-top: 300px;
        margin-bottom: 15px;
        color: white;
        margin-left: -430px;
        height: 55px;
    }
</style>

