@using PagedList.Mvc
@model PagedList.PagedList<Web_TMDT.Models.GioHang_DonHangMua>

@{
    ViewBag.Title = "DHMua";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}
<link href="~/Content/LayOutAdmin/Csstimkiem.css" rel="stylesheet" />
<div class="ddd">
    <h2>Thông Tin Đơn Hàng (Giỏ Hàng)</h2>
</div>
<br />
@using (Html.BeginForm("TimDonHangMua", "Admin", FormMethod.Post))
{
    @*Tìm Kiếm*@
    <div id="txttimkiem">
        <div id="tim">

            @Html.TextBox("txttimkiem", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Tên Khách Hàng..." })
        </div>
        <div class="day1">
            <label class="tungay">Từ ngày</label>
            <input type="date" name="tungay" />
        </div>

        <div class="day2">
            <label class="denngay">Đến ngày</label>
            <input type="date" name="denngay" />
        </div>

        <div id="buttontim">
            <button type="submit"><img src="~/Hinh/search.png" /></button>
        </div>

    </div>
    <br />
}
<div class="tong1"><h3 class="tong">Tổng Số Hóa Đơn: @ViewBag.sl</h3></div>
<br />
<br />
<div class="tong"><h2 class="tong">Tổng Tiền: @string.Format("{0:0,0}", @ViewBag.Tong) VNĐ</h2></div>
<br />
<table class="table" border="1">
    <tr class="ttt">
        <th>
            <label>Mã Đơn hàng</label>
        </th>
        <th>
            <label>Tên Khách Hàng</label>
        </th>
        <th>
            <label>Tổng Tiền</label>
        </th>
        <th>
            <label>Ngày Lập</label>
        </th>
        <th>Thông Tin Người Mua</th>
        <th>Cập Nhật Trạng Thái</th>
        <th>Thao Tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDDonHangMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @string.Format("{0:0,0}", @item.TongTien) VNĐ
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", @item.NgayLap)
            </td>
            <td>
                @Html.ActionLink("Thông Tin Người Mua", "TTUser", new { @id = item.IDUserMua })
            </td>
            <td>
                @Html.ActionLink("Cập Nhật Trạng Thái", "CapNhatTTDHMua", new { @id = item.IDDonHangMua })
            </td>
            <td>

                @Html.ActionLink("Chi Tiết", "CTDHMua", new { @id = item.IDDonHangMua })
            </td>
        </tr>
    
    }
</table>
  
<br />
    @using (@Html.BeginForm("XuatThongKeDonHang", "Admin", new { @tu = @ViewBag.tungay, @den = @ViewBag.denngay }))
    {
        <div id="them">
            <input type="submit" id="themuser" value="Xuất Thống Kê" />
        </div>
    }
<br />
     <div class="phantrang">
        @*tao trang lien ket*@
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount

        <div class="pt">
            @Html.PagedListPager(Model, page => Url.Action("TimDonHangMua", new { page = page, @tim = @ViewBag.tim, @tungay = @ViewBag.tungay, @denngay = @ViewBag.denngay }))
        </div>
    </div>

<style>
    .them {
        background-color: #14a19a;
        color: white;
        float: left;
        margin-left: 50px;
        margin-top: 30px;
    }

    #themuser {
        background-color: #14a19a;
        width: 180px;
        height: 50px;
        color: white;
    }

        #themuser:hover {
            background-color: #3bb49a;
        }
    .tong1 {
        color: blue;
        float: right;
        margin-right: 125px;
    }

    .tong {
        color: blue;
        float: right;
        margin-right: -115px;
    }
    .table {
        background-color: #fafef7;
    }

    #txttimkiem {
        margin-left: 0px;
        margin-top: -35px;
        width: 1038px;
    }

    .ttt {
        background-color: #14a19a;
        color: white;
    }
    .pt li {
        display: inline;
    }
    .ddd {
        color: blue;
        margin-left: 30%;
    }
</style>