@using PagedList.Mvc;
@using Web_TMDT.Models;
@model PagedList.PagedList<User>
@{
    ViewBag.Title = "QLUser";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("TimQuanLyUser", "Admin", FormMethod.Post))
{
@*<div class="ql">
    <h2>Quản Lý Đơn Đổi Điểm</h2>
</div>*@

    <div id="txttimkiem">

        <div id="tim">

            @Html.TextBox("txttimkiem", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Tên Người Dùng..." })
        </div>
        <div id="buttontim">
            <button type="submit"><img src="~/Hinh/search.png" /></button>
        </div>
    </div>

<br />
}
   <table class="table" border="1">
    <tr class="ngdung">
        <th>
            <label>Mã Người dùng</label>

        </th>
        <th>
            <label>Tên Người dùng</label>
        </th>

        <th>
            <label>Địa Chỉ</label>
        </th>
        <th>
            <label>Email</label>
        </th>
        <th>
            <label>Số Điện thoại</label>
        </th>
        <th>
            <label>Trạng thái</label>
        </th>
        <th>
            <label>Sửa Người Dùng</label>
        </th>
        <th>
            <label>Đổi Mật Khẩu</label>
        </th>
        <th>Cập Nhật Trạng Thái</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiUser.TenTrangThaiUser)
            </td>
            <td>
                @Html.ActionLink("Sửa Người Dùng", "SuaUser", new { @id = item.IDUser })

            </td>
            <td>
                @Html.ActionLink("Đổi Mật Khẩu", "DoiMatKhau", new { @id = item.IDUser })

            </td>
            <td>
                @Html.ActionLink("Cập Nhật Trạng Thái", "CapNhatTTUser", new { @id = item.IDUser })

            </td>
        </tr>
    }

</table>

    <br />
@using (@Html.BeginForm("ThemUser", "Admin", FormMethod.Post))
{ 
<div id="them">
    <input type="submit" id="themuser" value="Thêm Người Dùng"/>
</div>
}
<br />
     <div class="phantrang">
        @*tao trang lien ket*@
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount

        <div class="pt">
            @Html.PagedListPager(Model, page => Url.Action("TimQuanLyUser", new { page = page, @tim = @ViewBag.tim }))
        </div>       
    </div>

<style>
    .them {
        background-color: #14a19a;
        color: white;
        width: 150px;
        float: left;
        margin-left: 50px;
        margin-top: 30px;
    }

    #themuser {
        color: white;
        background-color: #14a19a;
        width: 180px;
        height: 50px;
    }
 
        #themuser:hover {
            background-color: #3bb49a;
        }
    .pt li {
        display: inline;
    }
    .ngdung {
        background-color: #14a19a;
        color: white;
    }

    .ql {
        color: blue;
    }

    #buttontim button {
        width: 30px;
        height: 30px;
        padding: 0 0px 0 0px;
        margin-left: 18px;
        margin-top: 1.8%;
    }

    #buttontim img {
        width: 30px;
        height: 30px;
        background-color: #b7c6a0;
    }

    #txttimkiem {
        margin-top: 3%;
        margin-left: 66%;
        margin-right: 20px;
        background-color: #e0e6e1;
        height: 100px;
        width: 350px;
    }
    .table {
        background-color: #fafef7;
    }

        #txttimkiem input {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgba(0,0,0,.5);
        }

    #tim {
        float: left;
    }

        #tim input {
            height: 32px;
            width: 200px;
            margin-top: 16%;
            margin-left: 20%;
        }

    #buttontim {
        float: right;
        margin-right: 20%;
        margin-top: 40px;
    }

        #buttontim img {
            position: relative;
            top: -7px;
        }
</style>
