<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/LayOut/fonts.css" rel="stylesheet" />
    @*<link href="~/Content/LayOut/screen.css" rel="stylesheet" />*@
    <link href="~/Content/LayOut/screen.css" rel="stylesheet" />
    <link href="~/Content/LayOut/CssLayout.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    @*ChènQuảngCáo*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.pack.js"></script>
    <link href="~/NivoSlider/nivo-slider.css" rel="stylesheet" />

    <script src="~/Content/LayOut/JavaScript1.js"></script>


</head>
<body>

    <section class="blank">
        <div class="flash">
            <div class="Dangkydangnhap">
                @if (Session["Name"] != null)
                {
                    <div id="ddd">
                        <a href="~/SPMoi/SPMoi">
                            <img src="~/Hinh/logo.png" />
                        </a>
                    </div>
                    <div id="menu">
                        <ul>
                            <li class="gh">@Html.Action("GioHangPartial", "GioHang")</li>
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    @Session["Name"].ToString()<i class="fa fa-user fa-fw"></i>

                                </a>

                                <ul id="submenu">
                                    <li>
                                        <a href="~/Users/SuaUser">Thông Tin cá nhân</a>
                                    </li>
                                    <li>
                                        <a href="~/Users/MK">Đổi Mật Khẩu</a>
                                    </li>
                                    <li>
                                        <a href="~/BaiDang/ThongTinMuaHang">Thông Tin Mua hàng</a>
                                    </li>
                                    <li>
                                        @Html.ActionLink("Đăng Xuất", "Logout", "Users", null, htmlAttributes: new { @class = "Users" })
                                    </li>
                                </ul>

                                <!-- /.dropdown-user -->
                            </li>
                        </ul>
                    </div>

                }
                else
                {
                    <div id="bbb">
                        <a href="~/SPMoi/SPMoi">
                            <img src="~/Hinh/logo.png" />
                        </a>
                    </div>
                    @Html.Action("GioHangPartial", "GioHang")

                    <b>
                        <i class="fa fa-sign-in"></i>
                        @Html.ActionLink("Đăng Ký", "Register", "Users", null, htmlAttributes: new { @class = "Users" })
                    </b>
                    <b>
                        <i class="fa fa-unlock"></i>
                        @Html.ActionLink("Đăng Nhập", "Login", "Users", null, htmlAttributes: new { @class = "Users" })
                    </b>
                }
            </div>

        </div>

        @*<div class="flash success" id="divmenu">
                <div id="raovat">
                    <div>
                        @Html.Action("GioHangPartial", "GioHang")
                    </div>

                    <i class="fa fa-pencil-square-o"></i>
                    @Html.ActionLink("Đăng tin Sản Phẩm", "BaiDang", "BaiDang", null, htmlAttributes: new { @class = "DangTin" })

                </div>

                <div class="iconlogo">
                    <a href="~/SPMoi/SPMoi">
                        <img src="~/Hinh/iPhone-icon.png" /></a>
                    </div>

            </div>*@

    </section>

    <section class="QuangCao">
        <div id="slider" class="nivoSlider">
            <img src="~/Hinh/aaaa.png" />
            <img src="~/Hinh/bbbbb.png" />
            <img src="~/Hinh/ccccc.png" />
            <img src="~/Hinh/dddd.png" />
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
        </div>
    </section>


    <section>
        <div id="menuLoai">
            <div class="activity">
                @Html.Action("LoaiSPPartial", "Home")
            </div>
        </div>
        <div id="noidung">
            <div id="txttimkiem">
                @Html.Action("TimKiemTT", "Home")
            </div>
            <br />
            <br />
            @RenderBody()
        </div>
        <div style="clear:both"></div>
    </section>



    <section>
        <div class="button button-buy">

            <i class="fa fa-phone"></i>: 08.35353508

            <div>
                273 An Dương Vương, Quận 5, TP.Hồ Chí Minh
            </div>

        </div>
    </section>

</body>
</html>
<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider({

            controlNav: false,
            prevText: '',
            nextText: ''
        });

    });
</script>

<style>
    #submenu {
        background: #f6faf9;
    }

    li.gh {
        float: left;
        margin-right: -60px;
    }

    #ddd {
        float: left;
        margin-left: -780px;
        margin-top: -15px;
        width: 170px;
        height: 60px;
    }

    #bbb {
        float: left;
        margin-left: -770px;
        margin-top: -15px;
        width: 170px;
        height: 60px;
    }

    .aaaa {
        width: 320px;
        height: 45px;
        float: left;
        margin-left: 7px;
    }

    .flash {
        height: 15px;
    }
</style>
