@model Web_TMDT.Models.BaiDang

@{
    ViewBag.Title = "BaiDang";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("BaiDang", "BaiDang", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="Noidung">
        @*<div class="form-horizontal">*@
        <h2>Đăng Thông Tin Sản Phẩm</h2>
            @Html.ValidationSummary(true)
        <div class="body">
            <div class="form-group">
                <div class="col-md-2">
                    <label>@Html.LabelFor(model => model.MaLoai)</label>
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("MaLoai", null, htmlAttributes: new { @required = "required", @class="form-control"})
                    @Html.ValidationMessageFor(model => model.MaLoai)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.TenSP)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.TenSP, new { @required = "required", @class="form-control" })
                    @Html.ValidationMessageFor(model => model.TenSP)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.GiaSP)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.GiaSP, new { @required = "required", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GiaSP)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.SoLuong)
                </div>
                <div class="col-md-8">
                    <input id="SoLuong" type="text" name="sl" width="200" height="20" required class="form-control"/>
                </div>
            </div>
        <br />
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.HinhAnh)
                </div>
                <div class="col-md-8">
                    <input type="file" name="fileUpload" class="button-submit" required />
                    @ViewBag.ThongBao
                </div>
            </div>
        <br/>
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.MoTa)
                </div>
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.MoTa, new { @required = "required", @class="form-control" })
                    @Html.ValidationMessageFor(model => model.MoTa)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="button-submit btn-1">Đăng Tin</button>
                </div>
            </div>
            </div>
        </div>
    @*</div>*@
}



