@using Web_TMDT.Models;
@using PagedList.Mvc;
@model  PagedList.PagedList<ThongTinDonHang>
@{
    ViewBag.Title = "TTDonHang";
    Layout = "~/Views/LayOut/LayOutNguoiDung.cshtml";
}



<table class="table">
    <thead>
        <tr class="thuoctinh">

            <td><h5 class="aa">Tên Sản Phẩm</h5></td>

            <td><h5 class="aa">Hình Ảnh</h5></td>

            <td><h5 class="aa">Đơn Giá</h5></td>

            <td><h5 class="aa">Số Lượng</h5></td>

            <td><h5 class="aa">Thành Tiền</h5></td>

            <td><h5 class="aa">Thông Tin Sản Phẩm</h5></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td><h5 class="bb">@item.tensp</h5></td>

                <td><h5 class="bb"><img src="@Url.Content("~/Hinh_Anh/"+@item.hinhanh)" height="60" width="60" /></h5></td>
                <td><h5 class="bb">@String.Format("{0:0,0}", @item.dongia) VNĐ</h5></td>
                <td class="text"><h5 class="bb">@item.soluong</h5></td>
                <td><h5 class="bb">@String.Format("{0:0,0}", @item.thanhtien) VNĐ</h5></td>

                <td><h5 class="bb"><a class="mmm" href="@Url.Action("ThongTinNguoiBan", "BaiDang", new {@masp = item.masp})">Thông Tin & Đánh Giá Sản Phẩm</a></h5></td>
                @*<td width="200"><a href="~/BaiDang/ThongTinNguoiDung" class="mmm">Thông Tin Người Bán</a></td>*@
            </tr>

        }
    </tbody>
    <tfoot>
        <tr>
            <td>Tổng tiền</td>
            <td colspan="6" class="text-right">@String.Format("{0:0,0}", @ViewBag.sum) VNĐ</td>
        </tr>
    </tfoot>

</table>
<div>
    @*tao trang lien ket*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount

    <div class="pt">
        @Html.PagedListPager(Model, page => Url.Action("ThongTindonHang", new { page = page }))
    </div>
</div>
