@using Web_TMDT.Models;
@using PagedList.Mvc;
@model  PagedList.PagedList<ThongTinDonHang>
@{
    ViewBag.Title = "TTDonHang";
    Layout = "~/Views/LayOut/TimChiTietDonHang.cshtml";
}



<table id="divgiohang">
    <tr class="thuoctinh">

        <td width="170"><h5 class="aa">Tên Sản Phẩm</h5></td>

        <td width="80"><h5 class="aa">Hình Ảnh</h5></td>

        <td width="115"><h5 class="aa">Đơn Giá</h5></td>

        <td width="50"><h5 class="aa">Số Lượng</h5></td>

        <td width="120"><h5 class="aa">Thành Tiền</h5></td>

        <td width="190"><h5 class="aa">Thông Tin Sản Phẩm</h5></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td><h5 class="bb">@item.tensp</h5></td>

            <td><h5 class="bb"><img src="@Url.Content("~/Hinh_Anh/"+@item.hinhanh)" height="60" width="60" /></h5></td>
            <td><h5 class="bb">@String.Format("{0:0,0}", @item.dongia) VNĐ</h5></td>
            <td class="text"><h5 class="bb">@item.soluong</h5></td>
            <td><h5 class="bb">@String.Format("{0:0,0}", @item.thanhtien) VNĐ</h5></td>
        
            <td><h5 class="bb"><a class="mmm" href="@Url.Action("ThongTinNguoiBan", "BaiDang", new {@masp = item.masp})">Thông Tin & Đánh Giá Sản Phẩm</a></h5></td>
            @*<td width="200"><a href="~/BaiDang/ThongTinNguoiDung" class="mmm">Thông Tin Người Bán</a></td>*@
        </tr>

    }


</table>
<div class="tongtien">
    <h2> Tổng Tiền: @String.Format("{0:0,0}", @ViewBag.sum) VNĐ</h2>
</div>
<div>
    @*tao trang lien ket*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount

    <div class="pt">
        @Html.PagedListPager(Model, page => Url.Action("ThongTindonHang", new { page = page }))
    </div>
</div>

<style>
    .pt li {
        margin-left: 5px;
        display: inline;
    }
    .aa {
        color: white;
        margin-left: 5px;
        margin-top: 5px;
    }

    .bb {
        margin-left: 5px;
        margin-top: 5px;
        color: black;
    }
    .mmm {
        color: blue;
    }

        .mmm a:hover {
            color: yellow;
        }

    #divgiohang {
        border: 0.5px solid #a4f1e5;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        margin-top: -40px;
    }

        #divgiohang td {
            border: 1px solid #000000;
        }

    .thuoctinh {
        background-color: #14a19a;
        margin-left: 2%;
    }

    .text input {
        height: 0;
        width: 20px;
        margin-left: 5%;
    }

    #tien {
        width: 200px;
    }

    .muahang {
        margin-left: 400px;
    }

        .muahang input {
            width: 100px;
            height: 25px;
            background-color: #28e5e5;
            margin-bottom: 2%;
        }

    .tongtien {
        margin-left: 500px;
    }
</style>