@using Web_TMDT.Models;
@model List<ChiTietSanPham>
@{
    ViewBag.Title = "TTNguoiBan";
    Layout = "~/Views/LayOut/LayOutNguoiDung.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/DanhGia/Rating.js"></script>

<link href="~/Content/LoaiSP/SPMoi.css" rel="stylesheet" />
@foreach (var item in Model)
{
    <div class="Noidung">
        <div class="panel-heading">
            <div class="ii"></div>
            <h2 class="aa">Thông Tin Sản Phẩm</h2>
        </div>
        <div class="anh">
            <img src="@Url.Content("~/Hinh_anh/"+item.hinhanh)" />
        </div>
        <div class="thongtin">
            <div class="tenspct">
                <label> Tên Sản Phẩm: @item.TenSP</label>
            </div>
            <div>
                <label> Giá: @String.Format("{0:0,0}", @item.GiaSP) VNÐ</label>
            </div>
            <div>
                <label> Số Lượng: @item.SoLuongTon</label>
            </div>
            <div class="mota">
                <label> Thông Tin Sản Phẩm: @item.MoTa</label>
            </div>
            <div class="buttonmua">
                @using (Html.BeginForm("ThemGH", "GioHang", new { @masp = @item.MaSP, @url = Request.Url.ToString() }))
                {
                    <button class="button-submit">Thêm Vào Giỏ</button>
                }
            </div>
        </div>
    </div>
    <table id="divDanhGia" border="1">
        <tr>
            <td class="thuoctinh"><h4 class="td">Thông Tin Đánh Giá</h4></td>
        </tr>
        <tr>
            <td>
                <h5 class="aaa">
                    Số Người Ðánh giá: @item.DemNguoiDG
                    <br />
                    Ðiểm Ðánh giá Trung Bình: @item.DiemDG
                    <br />
                    Ký hiệu hình sao:
                    <br />
                </h5>
                @if (@item.DiemDG == 0)
                {
                    <div id="star">

                        <h5 class="aaa">Chưa Có Ðánh Giá</h5>

                    </div>
                }
                else if (@item.DiemDG == 1)
                {
                    <div id="star">
                        <ul>
                            <li><img class="nuasao" src="@Url.Content("~/Hinh/star2.png")" /></li>
                        </ul>
                    </div>
                }
                else if (@item.DiemDG == 2)
                {
                    <div id="star">
                        <ul>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                        </ul>
                    </div>
                }
                else if (@item.DiemDG == 3)
                {
                    <div id="star">
                        <ul>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img class="nuasao" src="@Url.Content("~/Hinh/star2.png")" /></li>
                        </ul>
                    </div>
                }
                else if (@item.DiemDG == 4)
                {
                    <div id="star">
                        <ul>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                        </ul>
                    </div>
                }
                else if (@item.DiemDG == 5)
                {
                    <div id="star">
                        <ul>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img class="nuasao" src="@Url.Content("~/Hinh/star2.png")" /></li>
                        </ul>
                    </div>
                }
                else if (@item.DiemDG == 6)
                {
                    <div id="star">
                        <ul>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                        </ul>
                    </div>
                }
                else if (@item.DiemDG == 7)
                {
                    <div id="star">
                        <ul>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img class="nuasao" src="@Url.Content("~/Hinh/star2.png")" /></li>
                        </ul>
                    </div>
                }
                else if (@item.DiemDG == 8)
                {
                    <div id="star">
                        <ul>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                        </ul>
                    </div>
                }
                else if (@item.DiemDG == 9)
                {
                    <div id="star">
                        <ul>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img class="nuasao" src="@Url.Content("~/Hinh/star2.png")" /></li>
                        </ul>
                    </div>
                }
                else if (@item.DiemDG == 10)
                {
                    <div id="star">
                        <ul>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                            <li><img src="@Url.Content("~/Hinh/star6.png")" /></li>
                        </ul>
                    </div>
                }
                <br />
            </td>

        </tr>
       
        <tr>
            <td>
                <h5 class="sao">Đánh Giá:</h5>
                <div id="hover">
                    <ul>
                        <li><a class="class1" href="@Url.Action("Score", "BaiDang", new { @diem = 2, @masp = item.MaSP })" data-toggle="tooltip" title="2/10"></a></li>
                        <li><a class="class2" href="@Url.Action("Score", "BaiDang", new { @diem = 4, @masp = item.MaSP })" data-toggle="tooltip" title="4/10"></a></li>
                        <li><a class="class3" href="@Url.Action("Score", "BaiDang", new { @diem = 6, @masp = item.MaSP })" data-toggle="tooltip" title="6/10"></a></li>
                        <li><a class="class4" href="@Url.Action("Score", "BaiDang", new { @diem = 8, @masp = item.MaSP })" data-toggle="tooltip" title="8/10"></a></li>
                        <li><a class="class5" href="@Url.Action("Score", "BaiDang", new { @diem = 10, @masp = item.MaSP})" data-toggle="tooltip" title="10/10"></a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<style>
    .anh {
        margin-top: 15px;
        margin-left: 15px;
        width: 230px;
        height: 320px;
    }

    .thongtin {
        width: 240px;
        margin-left: 260px;
    }

    .Noidung {
        margin-left: 15px;
        width: 510px;
        height: 370px;
        background-color: #ffffff;
        margin-bottom: 20px;
        margin-top: -40px;
    }

    .panel-heading {
        background-color: #14a19a;
        height: 45px;
        margin-top: -20px;
    }

    .aa {
        margin-left: 17px;
        color: white;
        align-content: center;
        margin-top: -15px;
    }

    .button-submit {
        margin-bottom: 15px;
    }

    #divDanhGia {
        border: 0.5px solid #a4f1e5;
        float: right;
        margin-top: -390px;
        margin-right: 20px;
        width: 240px;
        background-color: white;
    }
        #divDanhGia td {
            border: 1px solid #000000;
        }

    .td {
        color: white;
    }

    .aaa {
        margin-left: 10px;
        margin-top: 5px;
    }
    .sao {
        color: black;
        margin-left: 10px;
        margin-top: 5px;
    }

    .thuoctinh {
        background-color: #14a19a;
        margin-left: 2%;
        height: 45px;
    }

    .nuasao {
        display: inline;
        float: left;
        height: 30px;
        width: 15px;
        background-size: 15px 30px;
        margin-bottom: 15px;
    }

    div#star ul li {
        display: inline;
        float: left;
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
        margin-bottom: 15px;
    }
    div#hover ul li {
        display: inline;
        float: left;
    }


        div#hover ul li a {
            float: left;
            height: 30px;
            width: 30px;
            background-image: url('../../Hinh/star1.png');
            background-size: 30px 30px;
            margin-bottom: 15px;
        }
</style>


