@using Web_TMDT.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<BaiDang>
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/LayOut/LayOutNguoiDung.cshtml";
}

<h2>Sản phẩm</h2>

<div class="product-list">
    @{int n = 1;}
    @foreach (var item in Model)
    {
        if (n % 4 == 1)
        {
            @:<div class="row">
        }
        <div class="col-md-3 item">
            <div class="item-inner">
                
                <div class="field image">
                    <a href="@Url.Action("CTSP", new { @masp=item.MaSanPham})"> <img src="@Url.Content("~/Hinh_anh/"+item.HinhAnh)" width="130" height="160" /> </a>
                </div>
                <h3 class="field title">
                    <a href="@Url.Action("CTSP", new { @masp = item.MaSanPham})">@item.TenSP</a>
                </h3>
                <div class="field manu">
                    <span>Hãng: @item.LoaiSanPham.TenLoai</span>
                </div>
                <div class="field price">
                    <span>Giá: @string.Format("{0:0,0}", @item.GiaSP) VNĐ</span>
                </div>
                <div class="field quantity">
                    <span>Số Lượng Còn: @item.Soluongton</span>
                </div>
            </div>
        </div>


        if (n % 4 == 0)
        {
            @:</div>
        }
        n++;
    }

</div>

@*tao trang lien ket*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="pt">
        @Html.PagedListPager(Model, page => Url.Action("SPMoi", new { page = page }))
    </div>