@using Web_TMDT.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<BaiDang>
@{
    ViewBag.Title = "SPMoi";
    Layout = "~/Views/LayOut/LayOutNguoiDung.cshtml";
}
<div class="mmm"><h2>Sản phẩm mới!</h2></div>
<div class="spmoiaaa">
    @{int n = 0;}
    @foreach (var item in Model)
    {
        n++;
            <div class="TrangSanPham">
                    <div class="ten">
                        <a href="@Url.Action("CTSP", new { @masp = item.MaSanPham})"><label for="male">@item.TenSP</label></a>
                    </div>
                    <div class="hinh">
                        <a href="@Url.Action("CTSP", new { @masp=item.MaSanPham})"> <img src="@Url.Content("~/Hinh_anh/"+item.HinhAnh)" width="130" height="160" /> </a>
                    </div>

                    <div class="giasp">
                        <label for="malea">Giá: @string.Format("{0:0,0}", @item.GiaSP) VNĐ</label>
                    </div>
                    <div class="slsp">
                        <label for="malea">Số Lượng Còn: @item.Soluongton</label>
                    </div>
                
            </div>       
            
        
        if(n % 3 == 0)
        {
            <div style="clear:both"></div>
            <br />
        }
        
    }
    
</div>
<div style="clear:both"></div>
@*tao trang lien ket*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="pt">
        @Html.PagedListPager(Model, page => Url.Action("SPMoi", new { page = page }))
    </div>

    <style>
        .giasp {
            margin-left: 15%;
            margin-top: -5%;
            color: red;
        }

        .slsp {
            margin-left: 15%;
            margin-top: -10%;
        }
        .ten a:hover {
            text-decoration: none;
            color: blue;
        }

        .ten {
            color: #0c0c68;
            margin-left: 15%;
        }
        .TrangSanPham {
            float: left;
            background-color: #fafafa;
            border: 2px solid #ffffff;
            margin-left: 25px;
            width: 230px;
        }
         .pt li {
            display: inline;
        }
    .mmm{
        margin-left:6%;
        color:blue;
        margin-top:-5%;
    }
        .hinh {
            margin-left: 15%;
        }
</style>

