@using Web_TMDT.Models;
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/LayOut/LayOutNguoiDung.cshtml";
}

<table id="divgiohang">
    <tr class="thuoctinh">
       
        <td  width="250"><h5 class="aa">Tên Điện Thoại</h5></td>
  
        <td  width="100"><h5 class="aa">Hình Ảnh</h5></td>
    
        <td  width="160" ><h5 class="aa">Đơn Giá</h5></td>
   
        <td width="100"><h5 class="aa">Số Lượng</h5></td>
    
        <td width="200" ><h5 class="aa">Thành Tiền</h5></td>
        <td width="80"><h5 class="aa">Cập Nhật</h5></td>
        <td width="50"><h5 class="aa">Xóa</h5></td>
    </tr>
    @foreach(var item in Model)
    {
         <tr>
            
            <td><h5 class="bb">@item.tensp</h5></td>
       
            <td><h5 class="bb"><img src="@Url.Content("~/Hinh_Anh/"+@item.hinhanh)" height="60" width="60" /></h5></td>
            <td><h5 class="bb">@String.Format("{0:0,0}", @item.dongia) VNĐ</h5></td>
             @using (Html.BeginForm("CapNhatGH", "GioHang", new { @masp=item.masp}))
             { 
                <td class="text"><h5 class="bb">@Html.TextBox("txtSoLuong", item.soluong)</h5></td>
                <td><h5 class="bb">@String.Format("{0:0,0}", @item.thanhtien) VNĐ</h5></td>
                 <td><input type="submit" value="Cập Nhật" class="ccc" /></td>
                   <td><h5 class="mmm">@Html.ActionLink("Xoá", "XoaGH", new { @masp = item.masp })</h5></td>
             }
        </tr>
         
    }
    
</table>
<div class="tongtien">
    <h2> Tổng Tiền: @String.Format("{0:0,0}", @ViewBag.tongtien) VNĐ</h2>
</div>
<div class="muahang">
    @using (Html.BeginForm("DatHang", "GioHang"))
    {
         <button class="button-submit">Đặt Mua</button>
    }
</div>
        


<style>
    .ccc{
        width: 80px;
        height: 30px;
    }
    .button-submit {
        width: 170px;
        height: 50px;
        margin-bottom: 30px;
    }
    .mmm {
        color: blue;
        margin-left: 10px;
    }

        .mmm a:hover {
            color: yellow;
        }
    .aa {
        color: white;
        margin-left: 10px;
        margin-top: 5px;
    }

    .bb {
        margin-left: 10px;
        margin-top: 5px;
        color: black;
    }
    #divgiohang {
        border: 0.5px solid #a4f1e5;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        margin-top: -40px;
    }

        #divgiohang td {
            border: 1px solid #000000;
        }
    .thuoctinh {
        background-color: #14a19a;
        margin-left: 2%;
        align-items: center;
    }
        
        .text input{
            height:0;
            width:20px;
            margin-left:5%;
        }
        #tien{
            width:200px;
        }
        .muahang{
            margin-left:400px;
            
        }
        .muahang input{
            width:100px;
            height:25px;
            background-color:#28e5e5;
            margin-bottom:2%;
        }
        .tongtien{
            margin-left:470px;
        }
</style>