@using Web_TMDT.Models;
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/LayOut/LayOutNguoiDung.cshtml";
}

<table class="table">
    <thead>
        <tr class="thuoctinh">
            <th width="250">Tên Điện Thoại</th>

            <th width="100">Hình Ảnh</th>

            <th width="160">Đơn Giá</th>

            <th width="100">Số Lượng</th>

            <th width="200">Thành Tiền</th>
            <th width="80">Cập Nhật</th>
            <th width="50">Xóa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td><h5 class="bb">@item.tensp</h5></td>

                <td><h5 class="bb"><img src="@Url.Content("~/Hinh_Anh/"+@item.hinhanh)" height="60" width="60" /></h5></td>
                <td><h5 class="bb">@String.Format("{0:0,0}", @item.dongia) VNĐ</h5></td>
                @using (Html.BeginForm("CapNhatGH", "GioHang", new { @masp = item.masp }))
                {
                    <td class="text"><h5 class="bb">@Html.TextBox("txtSoLuong", item.soluong)</h5></td>
                    <td><h5 class="bb">@String.Format("{0:0,0}", @item.thanhtien) VNĐ</h5></td>
                    <td><input type="submit" value="Cập Nhật" class="ccc" /></td>
                    <td><h5 class="mmm">@Html.ActionLink("Xoá", "XoaGH", new { @masp = item.masp })</h5></td>
                }
            </tr>

        }
        
    </tbody>
    <tfoot>
        <tr>
            <td>Tổng tiền</td>
            <td colspan="6" class="text-right">@String.Format("{0:0,0}", @ViewBag.tongtien) VNĐ</td>
        </tr>
    </tfoot>
</table>
<div class="text-right">
    @using (Html.BeginForm("DatHang", "GioHang"))
    {
         <button class="button-submit btn-1">Đặt Mua</button>
    }
</div>
        
