@using Web_TMDT.Models
@model List<GioHang>

@{
    ViewBag.Title = "Thongtin";
    Layout = "~/Views/LayOut/LayOutNguoiDung.cshtml";
}
<h2 class="ccc">Hóa Đơn Thanh Toán</h2>

<table class="table">
    <thead>
        <tr class="thuoctinh">

            <th width="250"><h5 class="aa">Tên Điện Thoại</h5></th>

            <th width="100"><h5 class="aa">Hình Ảnh</h5></th>

            <th width="160"><h5 class="aa">Đơn Giá</h5></th>

            <th width="100"><h5 class="aa">Số Lượng</h5></th>

            <th width="200"><h5 class="aa">Thành Tiền</h5></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td><h5 class="bb">@item.tensp</h5></td>

                <td><h5 class="bb"><img src="@Url.Content("~/Hinh_Anh/"+@item.hinhanh)" height="60" width="60" /></h5></td>
                <td><h5 class="bb">@String.Format("{0:0,0}", @item.dongia) VNĐ</h5></td>
                <td class="text"><h5 class="bb">@item.soluong</h5></td>
                <td><h5 class="bb">@String.Format("{0:0,0}", @item.thanhtien) VNĐ</h5></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Tổng tiền</td>
            <td colspan="6" class="text-right">@String.Format("{0:0,0}", @ViewBag.tongtien) VNĐ</td>
        </tr>
    </tfoot>
</table>


