@using Web_TMDT.Models;
@model BaiDang
@{
    ViewBag.Title = "CapNhatTT";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}

<div class="Noidung">
    @*<div class="form-horizontal">*@
    <div id="aaa">
        <div class="ii"></div>
        <h2 class="td">Cập Nhật Trạng Thái Bài Đăng</h2>
    </div>
    @Html.ValidationSummary(true)
    <div class="row clearfix">
        <div class="col-md-4 image">
            <img src="@Url.Content("~/Hinh_anh/"+@Model.HinhAnh)" />
        </div>
        <div class="col-md-8">
            <div>
                <p class="lbcn">Tên Sản Phẩm: @Model.TenSP </p>
            </div>
            <div>
                <p class="lbcn">Loại Sản Phẩm: @Model.LoaiSanPham.TenLoai </p>
            </div>

            <div>
                <p class="lbcn"> Giá: @String.Format("{0:0,0}", @Model.GiaSP) VNĐ </p>
            </div>
            @*<div>
                <h3 class="lbcn"> Số Lượng: @Model.SoLuong </h3>
            </div>*@
            <div>
                <p class="lbcn"> Số Lượng Tồn: @Model.Soluongton </p>
            </div>
            <div class="mota">
                <p class="lbcn">Thông Tin Sản Phẩm: @Model.MoTa </p>
            </div>
            @using (Html.BeginForm("CapNhatTT", "Admin", new { @id = Model.MaSanPham }))
            {
                <div>
                    <p class="lbcn"> Cập Nhật Trạng Thái: @Html.DropDownList("IDTrangThai")</p>
                </div>
                <div>
                    <div class="bt">
                        <button class="button-submit btn-1"> Cập Nhật</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


