@using Web_TMDT.Models;
@model User
@{
    ViewBag.Title = "CapNhatTTUser";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}
<div class="Noidung">
    @*<div class="form-horizontal">*@
    <div id="aaa">
        <h2 class="td">Cập Nhật Trạng Thái User</h2>
    </div>
    @Html.ValidationSummary(true)
    <div class="body">
        <div class="thongtin">
            <div class="form-group">
                <p class="lbcn">Mã Người Dùng: @Model.IDUser</p>
            </div>
            <div class="form-group">
                <p class="lbcn">Tên Người Dùng: @Model.UserName</p>
            </div>
            <div class="form-group">
                <p class="lbcn">Địa Chỉ: @Model.DiaChi</p>
            </div>
            <div class="form-group">
                <p class="lbcn">Email: @Model.Mail</p>
            </div>
            <div class="form-group">
                <p class="lbcn">Số Điện Thoại: @Model.SoDienThoai</p>
            </div>
            @using (Html.BeginForm("CapNhatTTUser", "Admin", FormMethod.Post, new { @id = Model.IDUser }))
            {
                <div class="form-group">
                    <p class="lbcn">Cập Nhật Trạng Thái: @Html.DropDownList("IDTrangThaiUser")</p>
                </div>
                <div class="bt">
                    <button class="button-submit btn-1">Cập Nhật</button>
                </div>
            }

        </div>
    </div>
</div>


