@using Web_TMDT.Models;
@model GioHang_DonHangMua
@{
    ViewBag.Title = "CapNhatTTDHMua";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}
<div class="Noidung">
    @*<div class="form-horizontal">*@
    <div id="aaa">
        <div class="ii"></div>
        <h2 class="td">Cập Nhật Trạng Thái Đơn Hàng</h2>
    </div>
    @Html.ValidationSummary(true)
    <div class="body">
        <div class="thongtin">
            <div class="field">
                <p class="lbcn">Mã Đơn Hàng: @Model.IDDonHangMua</p>
            </div>
            <div class="field">
                <p class="lbcn">Tên Khách Hàng: @Model.IDUserMua</p>
            </div>
            <div class="field">
                <p class="lbcn">Tổng Tiền: @Model.TongTien</p>
            </div>
            <div class="field">
                <p class="lbcn">Ngày Lập: @Model.NgayLap</p>
            </div>
            @using (Html.BeginForm("CapNhatTTDHMua", "Admin", FormMethod.Post, new { @id = Model.IDDonHangMua }))
            {
                <div class="field">
                    <p class="lbcn">Cập Nhật Trạng Thái: @Html.DropDownList("IDTrangThai")</p>
                </div>
                <div class="field">
                    <button class="button-submit btn-1">Cập Nhật</button>
                </div>
            }

        </div>
    </div>
</div>


