@using Web_TMDT.Models;
@model BaiDang
@{
    ViewBag.Title = "CapNhatTT";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}

<div class="Noidung">
    @*<div class="form-horizontal">*@
    <div id="aaa">
        <div class="ii"></div>
        <h2 class="td">Cập Nhật Trạng Thái Bài Đăng</h2>
    </div>
    @Html.ValidationSummary(true)
    <div class="body">
        <br />
        <div class="anh">
            <img src="@Url.Content("~/Hinh_anh/"+@Model.HinhAnh)" />
        </div>
        <div class="thongtin">
            <div>
                <h3 class="lbcn">Tên Sản Phẩm: @Model.TenSP </h3>
        </div>
            <div>
                <h3 class="lbcn">Loại Sản Phẩm: @Model.LoaiSanPham.TenLoai </h3>
        </div>

            <div>
                <h3 class="lbcn"> Giá: @String.Format("{0:0,0}", @Model.GiaSP) VNĐ </h3>
            </div>
            @*<div>
                <h3 class="lbcn"> Số Lượng: @Model.SoLuong </h3>
            </div>*@
            <div>
                <h3 class="lbcn"> Số Lượng Tồn: @Model.Soluongton </h3>
            </div>
            <div class="mota">
                <h3 class="lbcn">Thông Tin Sản Phẩm: @Model.MoTa </h3>
            </div>
            @using (Html.BeginForm("CapNhatTT", "Admin", new { @id = Model.MaSanPham }))
            {
                <div>
                    <h3 class="lbcn"> Cập Nhật Trạng Thái: @Html.DropDownList("IDTrangThai")</h3>
                </div>
                <div>
                    <div class="bt">
                        <button class="button-submit"><h4> Cập Nhật</h4></button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
    <style>
        .lbcn {
            margin-left: 0px;
            width: 500px;
        }

        .ii {
            height: 5px;
        }

        #aaa {
            background-color: #14a19a;
            height: 55px;
        }

        .td {
            margin-left: 30px;
            margin-bottom: 20px;
            margin-top: 10px;
            color: #ffffff;
        }

        .Noidung {
            margin-left: 105px;
            width: 840px;
            background-color: #fafef7;
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .bt button {
            margin-bottom: 15px;
            color: white;
            margin-bottom: 15px;
            height: 75px;
        }
        .ttct {
            background-color: #dfe1e1;
            height: 400px;
        }

        .anh img {
            margin-top: 10px;
            height: 300px;
            width: 300px;
            margin-left: 3%;
        }

        .thongtin {
            margin-left: 350px;
            margin-top: -300px;
        }
    </style>

