@using Web_TMDT.Models;
@using PagedList.Mvc;
@model  PagedList.PagedList<ChiTietGioHang>

@{
    ViewBag.Title = "CTDHMua";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}


<h2>Chi Tiết Đơn Hàng</h2>

<table class="table">
    <tr class="ttt">
        <th>
            <label>Mã Đơn Hàng</label>
        </th>
        <th>
            <label>Mã Sản Phẩm</label>
        </th>
        <th>
            <label>Tên Sản Phẩm</label>
        </th>
        <th>
            <label>Số Lượng</label>
        </th>
        <th>
            <label>Thành Tiền</label>
        </th>
        
        
    </tr>
@foreach (var item in Model)
{

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDDonHangMua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaiDang.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
           @string.Format("{0:0,0}", @item.ThanhTien) VNĐ
        </td>
        
    </tr>
}

</table>
<div class="phantrang">
    @*tao trang lien ket*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="pt">
        @Html.PagedListPager(Model, page => Url.Action("CTDHMua", new { page = page }))
    </div>
</div>
