@using Web_TMDT.Models
@model User
@{
    ViewBag.Title = "HoaDon";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="ttt">
    <h3>Thông tin người dùng</h3>
</div>
@using (Html.BeginForm("HoaDon", "Admin", FormMethod.Post, new {@id=Model.IDUser }))
{ 
<div class="ttin">
    <div>
        <label>Tên Người Dùng: </label>
    </div>

    
    <div class="uuu">
        @Model.UserName
    </div>

    <div>
        <label>Email: </label>
    </div>

    <div class="uuu">
        @Model.Mail
    </div>

    <div>
        <label>Địa chỉ: </label>
    </div>
    <div class="uuu">
        @Model.DiaChi
    </div>
    <div>
        <label>Số Điện Thoại: </label>
    </div>
    <div class="uuu">
        @Model.SoDienThoai
    </div>

    <div>
        <label>Số Điểm hiện có: </label>
    </div>

</div>
<div class="ttt">
    <label>Thông Tin Hoá Đơn</label>
</div>
<div class="ttin">
    <div>
        <label>Ngày Lập: </label>
    </div>
    <div class="ddd">
        @Html.TextBox("ngay", DateTime.Now.ToString("yyyy-MM-dd"), new { type = "datetime" })
    </div>
    <div>
        <label>Tiền Vật Lý: </label>
    </div>
    <div class="ddd">
        <input type="text" maxlength="9" id="tien" name="tien" onkeyup="func(this.value);"/>VNĐ
    </div>
    <div>
        <label>Số Điểm được có: </label>
    </div>
    <div class="ddd">
        <input type="text" name="diem" id="diem" readonly="readonly"/>Điểm
    </div>

    <script >
        function func(a) {
            if (isNaN(a)) {
                document.getElementById('tien').value = a.slice(0, -1);
                alert("Định dạng tiền không đúng!");
                return false;

            }
            else if (a == "") {
                document.getElementById('tien').value = "";
                alert("Chưa nhập giá trị tiền! ");
                return false;
            }
            else if (a == 0) {
                document.getElementById('tien').value = "";
                alert("Định dạng tiền không bắt đầu từ 0!");
                return false;
            }
            else {
                document.getElementById('diem').value = Math.round(a / 1000);
                document.getElementById('tongtien').value = Number(document.getElementById('Tien').innerHTML) + Math.round(a / 1000);
            }
        }
    </script>
      
    <div>
        <label>Tổng điểm: </label>
    </div>
    <div class="ddd">
        <input type="text" name="tongtien" id="tongtien" value="" readonly="readonly"/>
    </div>

    
</div>
        <div class="bto">
            <input type="submit" value="Lưu" />
        </div>
}

<style>
    .ttin{
        margin-left:200px;

    }
    .ttin input{
        height:20px;
        width:150px;

    }
    .ttt{
        margin-top:20px;
        margin-left:150px;
        color:blue;
    }
    .uuu{
        margin-left:150px;
        margin-top:-25px;
    }
    .ddd {
        margin-left: 150px;
        margin-top: -20px;
    }
    .bto input {
        margin-top: 2%;
        margin-left: 350px;
        background-color: #2e7c79;
        height:30px;
        width:100px;
    }
</style>

