@model Web_TMDT.Models.RegisterModel
@{
    ViewBag.Title = "ThemUser";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("ThemUser", "Admin", FormMethod.Post, htmlAttributes: new { @class="form-horizontal" }))
{
<div class="Noidung">

    <div class="panel-heading">
        <h2 >Thêm Tài Khoản Người Dùng</h2>
    </div>
    <div class="panel-body">
        @*@Html.AntiForgeryToken()

    @Html.ValidationSummary(true)*@

        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success">@ViewBag.Success</div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Username, htmlAttributes: new { @requied = "requied", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="confirm_pass">
                @Html.PasswordFor(model => model.Password, htmlAttributes: new { @requied = "requied", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassword, htmlAttributes: new { @requied = "requied", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)


            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DiaChi, htmlAttributes: new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Mail, htmlAttributes: new { @requied = "requied", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Mail)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Sdt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Sdt, htmlAttributes: new { @requied = "requied", @onkeypress = "return keyPhone(event);", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sdt)
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                @*<input id="dk" type="submit" value="Đăng Ký" />*@
                <button class="button-submit btn-1">Thêm Tài Khoản</button>
            </div>
        </div>
    </div>
</div>
}

<script>
    function keyPhone(e) {
        var keyword = null;
        if (window.event) {
            keyword = window.event.keyCode;
        } else {
            keyword = e.which; //NON IE;
        }

        if (keyword < 48 || keyword > 57) {
            if (keyword == 48 || keyword == 127) {
                return;
            }
            return false;
        }
    }

</script>


           
