@using PagedList.Mvc
@model PagedList.PagedList<Web_TMDT.Models.GioHang_DonHangMua>

@{
    ViewBag.Title = "DHMua";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}

<h2>Thông Tin Đơn Hàng (Giỏ Hàng)</h2>
@using (Html.BeginForm("TimDonHangMua", "Admin", FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
{
    @*Tìm Kiếm*@
    <div class="form-search">
        <div class="form-group">
            <label>Tên khách hàng</label>
            @Html.TextBox("txttimkiem", "", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="tungay">Từ ngày</label>
            <input type="date" name="tungay" class="form-control" />
        </div>

        <div class="form-group">
            <label class="denngay">Đến ngày</label>
            <input type="date" name="denngay" class="form-control" />
        </div>

        <div class="form-group form-action">
            <button type="submit" class="btn btn-1"><i class="fa fa-search"></i></button>
        </div>

    </div>
}
<h2 class="sum">Tổng Số Hóa Đơn: @ViewBag.sl</h2>
<h2 class="sum">Tổng Tiền: @string.Format("{0:0,0}", @ViewBag.Tong) VNĐ</h2>

<table class="table">
    <tr class="ttt">
        <th>
            <label>Mã Đơn hàng</label>
        </th>
        <th>
            <label>Tên Khách Hàng</label>
        </th>
        <th>
            <label>Tổng Tiền</label>
        </th>
        <th>
            <label>Ngày Lập</label>
        </th>
        <th>Thông Tin Người Mua</th>
        <th>Cập Nhật Trạng Thái</th>
        <th>Thao Tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDDonHangMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @string.Format("{0:0,0}", @item.TongTien) VNĐ
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", @item.NgayLap)
            </td>
            <td>
                @Html.ActionLink("Thông Tin Người Mua", "TTUser", new { @id = item.IDUserMua })
            </td>
            <td>
                @Html.ActionLink("Cập Nhật Trạng Thái", "CapNhatTTDHMua", new { @id = item.IDDonHangMua })
            </td>
            <td>

                @Html.ActionLink("Chi Tiết", "CTDHMua", new { @id = item.IDDonHangMua })
            </td>
        </tr>
    
    }
</table>

     <div class="phantrang">
        @*tao trang lien ket*@
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount

        <div class="pt">
            @Html.PagedListPager(Model, page => Url.Action("TimDonHangMua", new { page = page, @tim = @ViewBag.tim, @tungay = @ViewBag.tungay, @denngay = @ViewBag.denngay }))
        </div>
    </div>

@using (@Html.BeginForm("XuatThongKeDonHang", "Admin", new { @tu = @ViewBag.tungay, @den = @ViewBag.denngay }))
{
    <div id="them">
        <input class="btn btn-1" type="submit" id="themuser" value="Xuất Thống Kê" />
    </div>
}