@using PagedList.Mvc;
@using Web_TMDT.Models;
@model PagedList.PagedList<User>
@{
    ViewBag.Title = "QLUser";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("TimQuanLyUser", "Admin", FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
{
    <div class="form-search">
        <div class="form-group">
            @Html.TextBox("txttimkiem", "", htmlAttributes: new { @class = "form-control", @placeholder = "Tên Người Dùng..." })
        </div>
        <div class="form-group">
            <button class="btn-1" type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>
}
   <table class="table">
    <tr class="ngdung">
        <th>
            <label>Mã Người dùng</label>

        </th>
        <th>
            <label>Tên Người dùng</label>
        </th>

        <th>
            <label>Địa Chỉ</label>
        </th>
        <th>
            <label>Email</label>
        </th>
        <th>
            <label>Số Điện thoại</label>
        </th>
        <th>
            <label>Trạng thái</label>
        </th>
        <th>
            <label>Sửa Người Dùng</label>
        </th>
        <th>
            <label>Đổi Mật Khẩu</label>
        </th>
        <th>Cập Nhật Trạng Thái</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiUser.TenTrangThaiUser)
            </td>
            <td>
                @Html.ActionLink("Sửa Người Dùng", "SuaUser", new { @id = item.IDUser })

            </td>
            <td>
                @Html.ActionLink("Đổi Mật Khẩu", "DoiMatKhau", new { @id = item.IDUser })

            </td>
            <td>
                @Html.ActionLink("Cập Nhật Trạng Thái", "CapNhatTTUser", new { @id = item.IDUser })

            </td>
        </tr>
    }

</table>

     <div class="phantrang">
        @*tao trang lien ket*@
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount

        <div class="pt">
            @Html.PagedListPager(Model, page => Url.Action("TimQuanLyUser", new { page = page, @tim = @ViewBag.tim }))
        </div>       
    </div>

@using (@Html.BeginForm("ThemUser", "Admin", FormMethod.Post))
{
    <div class="form-action">
        <input type="submit" class="btn btn-1" value="Thêm Người Dùng" />
    </div>
}